name: build susfs_userspace

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: source-code

      - name: grab zig
        run: |
          curl -L https://ziglang.org/download/0.14.1/zig-x86_64-linux-0.14.1.tar.xz -o zig.tar.xz
          tar -xf zig.tar.xz
          mv zig-* zig

      - name: grab sstrip from ELFkickers
        run: |
          curl -L https://www.muppetlabs.com/~breadbox/pub/software/ELFkickers-3.2.tar.gz -o sstrip.tar.gz
          tar xf sstrip.tar.gz
          make -C ELFkickers-3.2 sstrip
          cp ELFkickers-3.2/sstrip/sstrip .

      - name: compile via zigcc (musl static)
        run: |
          chmod +x sstrip
          VERSION_DIRS=$(find . -maxdepth 1 -type d -name '[0-9]*' | sed 's|./||' | sort -n)

          for i in $VERSION_DIRS; do
            mkdir -p binaries/$i/gki
            [ "$i" != "156" ] && mkdir -p binaries/$i/non-gki
          done

          for i in $VERSION_DIRS; do
            ./zig/zig cc \
              -target aarch64-linux-musl \
              -static \
              -Oz \
              -ffunction-sections \
              -fdata-sections \
              -Wl,--gc-sections \
              $i/gki/main.c \
              -o binaries/$i/gki/ksu_susfs_arm64

            if [ "$i" != "156" ]; then
              ./zig/zig cc \
                -target aarch64-linux-musl \
                -static \
                -Oz \
                -ffunction-sections \
                -fdata-sections \
                -Wl,--gc-sections \
                $i/ngki/main.c \
                -o binaries/$i/non-gki/ksu_susfs_arm64
            fi
          done

          upx --ultra-brute binaries/*/*/ksu_susfs_arm64 || true
          for i in binaries/*/*/ksu_susfs_arm64; do ./sstrip "$i"; done

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: susfs_binaries
          path: binaries/
